body { background: #659c1c; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 28px; display: flex; }
.block-email-0 { color: #45c63; font-size: 20px; margin-bottom: 5px; }
.block-uploader-1 { color: #4b9304; font-size: 12px; margin-bottom: 5px; }
.block-router-2 { color: #ad1641; font-size: 13px; margin-bottom: 5px; }
.block-email-3 { color: #8ad0ae; font-size: 15px; margin-bottom: 5px; }
.block-order-4 { color: #d46b80; font-size: 13px; margin-bottom: 5px; }
.block-database-5 { color: #863063; font-size: 21px; margin-bottom: 5px; }
.block-helper-6 { color: #fb671a; font-size: 12px; margin-bottom: 5px; }